body {
    margin: 0;
    padding: 0;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F2F0;
    font-size: 18px;
}

a.link {
  text-decoration: none;
  color: white;
}

a.link:hover {
    color: #F9A825; 
}

a.project_title:hover {
    text-decoration: underline;
}

.project_title {
    text-decoration: none;
    color: #F9A825;
}


.top-container {
    background-color: #343838;
}

.top {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    max-width: 900px;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    color: white;
    font-size: 1.1em;
}

.top-titre {
    font-size: 2.7em;
}

.top-menu-item {
    display: inline-block;
    margin-right: 10px;
}

.selected {
    border-bottom: 2px solid #F9A825;
}

.main-container {
    background-color: #F5F2F0;
}

.main {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    padding: 16px;
    width: 96%;
    max-width: 900px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

div.avatar {
    margin-bottom: 16px;
    flex-shrink: 1;
    text-align: center;
}

div.avatar img {
    border-radius: 50%;
    max-width: 35%;
    width: 100px;
}

h1 {
    border-bottom-style: solid;
    font-size: 30px;
}

.cv_gtitre {
    color: #f9a825;
}

.icones {
    text-align: center;
}

.sprites {
    width: 30px;
}

.project_title {
    color: ##347dbc;
}

.cv_titre {
    color: black;
}

.cv_date {
    float: right;
}

.cv_lieu {
    font-size: 13px;
}

.cv_detail {
    color: black;
}

/* .language {
    text-align: center;
} */