body {
  background-color: #69D8FA;
  text-align: center;
  font-family: 'Exo', sans-serif;
}

h1 {
  font-size: 50pt;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  cursor: default;
}

.blur {
  filter : blur(5px);
}

#addTodoTxt {
  border: 0px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

#priorite {
    border: 0px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100px;
    overflow: hidden;
    background: #fafafa url("img/select.png") no-repeat 100% 50%;
    background-color: white;
    padding: 4px;
    -moz-appearance: none;
}

#priorite option {
    overflow: hidden;
    padding: 5px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

#priorite option:focus {
    outline-color: #CFF7FF;
}

#addTodoBtn {
  border: 0px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 9.5px;
  background-color: white;
  cursor: pointer;
}

#editBtn {
  border: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  margin-left: 50px;
  cursor: pointer;
}

#delBtn {
  border: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  margin-left: 5px;
  cursor: pointer;
}


#addTodoBtn:hover {
background-color: #CFF7FF;
}

#delBtn:hover {
  background-color: #CFF7FF;
}

#editBtn:hover {
  background-color: #CFF7FF;
}


#editWindowText {
  margin : auto 20% auto auto;
}

.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #69D8FA;
    margin: auto;
    padding: 20px;
    border: 10px solid #303030;
    border-radius: 50px;
    width: 35%;
}

#contentModalTxt {
  border: 0px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

#contentModalBtn {
  border: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  margin-left: 5px;
  cursor: pointer;
}

#contentModalBtn:hover {
  background-color: #CFF7FF;
}

#Saisie {
  border-radius: 50px;
  border: 0px;
  padding: 10px;
}

#Boutton {
  border-radius: 50px;
  border: 0px;
  padding: 10px;
  background-color: #FFF;
}

.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.classe1 {
  color : #ED3232;
}

.classe2 {
  color : #F29D00;

}

.classe3 {
  color : #35C700;
}
